#background {
    background-image: linear-gradient(90deg, rgb(222, 129, 24), rgb(249, 221, 174));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-attachment: scroll;
    margin: 0px;
}
.headers a {
    
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.headers {
    position: absolute;
    top: -10px;
    left: 0;
    display: flex;
    gap: 10px;
    padding: 14px 16px;
}
#sportsT {
    font-size: 55px;
    text-align: center;
    color: white;    
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif
}
#running {
    position: relative;
    background-image: url(images\ \(1\).jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left:100px;
    border-radius: 15px;
    width: 300px;
    height: 250px;
    text-align: center;
    
}
#runningM {
    position: relative;
    background-image: url(images\ \(1\).jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left:auto;
    border-radius: 15px;
    width: 400px;
    height: 300px;
    text-align: center;
    top: 25px;
    
}
#runT {
    background-color: rgb(231, 136, 34); 
    color: azure;
    font-size: large;
    text-align: center;
    margin: 0;
    width: 100%;
}
#triathelon {
    position: relative;
    background-image: url(abstract-paper-cut-green-background_474888-7141.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left:415px;
    border-radius: 15px;
    width: 400px;
    height: 250px;
    top: -250px;
    text-align: center;
}
#triathelonT {
    background-color: rgb(234, 68, 68); 
    color: azure;
    font-size: large;
    text-align: center;
    margin: 0;
    width: 100%;
    text-align: center;
}
#traithelonM {
    position: relative;
    left:100px;
    border-radius: 15px;
    width: 400px;
    height: 300px;
    text-align: center;
    top: 68px;
}

#skateboarding {
    position: relative;
    background-image: url(red-liquid-ink-texture-design_1409-10383.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left:930px;
    border-radius: 15px;
    width: 400px;
    height: 250px;
    top: -500px;
    text-align: center;
}
#skateboardingT {
    background-color: rgb(47, 129, 47); 
    color: azure;
    font-size: large;
    text-align: center;
    margin: 0;
    width: 100%;
    text-align: center;
}
#skateboardingnM {
    position: relative;
    left:auto;
    border-radius: 15px;
    width: 400px;
    height: 300px;
    text-align: center;
    top: 68px;
}
#image {
    position: relative;
    left:830px;
    border-radius: 15px;
    width: 85px;
    height: 250px;
    text-align: center;
    top: -750px;
}
#soccer {
    position: relative;
    background-image: url(25022.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left: 100px;
    border-radius: 15px;
    width: 350px;
    height: 250px;
    top: -415px;
    text-align: center;
}
#soccerT {
    background-color: rgb(47, 129, 47); 
    color: azure;
    font-size: large;
    text-align: center;
    margin: 0;
    width: 100%;
    text-align: center;
}
#soccerM {
    position: relative;
    left:auto;
    border-radius: 15px;
    width: 500px;
    height: 300px;
    text-align: center;
    top: 85px;
}