#background {
    background-image: linear-gradient(90deg, rgb(222, 129, 24), rgb(249, 221, 174));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-attachment: scroll;
    margin: 0px;
}
.headers a {
    
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.headers {
    position: absolute;
    top: -10px;
    left: 0;
    display: flex;
    gap: 10px;
    padding: 14px 16px;
}
#sportsT {
    font-size: 55px;
    text-align: center;
    color: white;    
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif
}
#running {
    background-image: url(TrentonSandlerWEB.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#rockcliming {

}
#triathelon {

}
#skateboarding {

}
#soccer {

}
#otherSports {

}