#background {
    background-image: linear-gradient(to left, rgb(192, 238, 204), rgb(84, 239, 123));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-attachment: scroll;
    margin: 0px;
}
#welcomeT {
    position: relative;
    font-size: 85px;
    text-align: center;
    top: 50px;
    color: white;
}
#EllieT {
    position: relative;
    font-size: 35px;
    text-align: center;
    top: 5px;
    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    font-family: 'Instrument Serif', sans-serif;
}