html, body {
      margin: 0;
      height: 100%;
    }
#desk {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url('IMG_20260511_192706744.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#junk {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    pointer-events: none;
}
#junkB {
    width: 250px;
    height: 100px;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 555px;
    margin-right: 500px;
    background-color: transparent;   
    border-style: none;
}
#hotglue {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    pointer-events: none;
}
#hotglueB {
    width: 135px;
    height: 150px;
    margin-top: 140px;
    margin-left: 825px;
    background-color: transparent;   
    border-style: none;
}
#electronics {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    pointer-events: none;
}
#electronicsB {
    position: absolute;
    top: 50px;
    left: 1180px;
    width: 150px;
    height: 200px;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}
#deoterant {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    pointer-events: none;
}
#deoterantB {
    position: absolute;
    top: 530px;
    left: 1020px;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}
#deoterantT {
    position: relative;
    background-color: rgb(251, 235, 232);
    border-style: solid;
    border-color: rgb(16, 172, 245);
    border-width: 5px;
    border-radius: 5px;
    height: 85px;
    width: 180px;
    display: none;
    margin-left: 825px;
    margin-top: 50px;
    padding: 5px;
    z-index: 2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#sticker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    pointer-events: none;
}
#stickerB {
    position: absolute;
    top: 510px;
    left: 720px;
    width: 70px;
    height: 50px;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}
#stickerT {
    position: relative;
    background-color: rgb(251, 235, 232);
    border-style: solid;
    border-color: rgb(245, 31, 16);
    border-width: 5px;
    border-radius: 5px;
    height: 110px;
    width: 180px;
    display: none;
    margin-left: 700px;
    margin-top: 50px;
    padding: 5px;
    z-index: 2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#sunglasses {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    pointer-events: none;
}
#sunglassesB {
    position: absolute;
    top: 620px;
    left: 1355px;
    width: 85px;
    height: 50px;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    rotate: 45deg;
}
#sunglassesT {
    position: relative;
    background-color: rgb(251, 235, 232);
    border-style: solid;
    border-color: rgb(245, 184, 16);
    border-width: 5px;
    border-radius: 5px;
    height: 110px;
    width: 180px;
    display: none;
    margin-left: 1125px;
    margin-top: -10px;
    padding: 5px;
    z-index: 2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#transmitter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    pointer-events: none;
}
#transmitterB {
    position: absolute;
    top: 520px;
    left: 265px;
    width: 150px;
    height: 150px;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}
#transmitterT {
    position: relative;
    background-color: rgb(247, 86, 58);
    border-style: solid;
    border-color: rgb(96, 90, 82);
    border-width: 5px;
    border-radius: 5px;
    height: 260px;
    width: 200px;
    display: none;
    margin-left: 30px;
    margin-top: -200px;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#pokemon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    pointer-events: none;
}
#pokemonB {
    position: absolute;
    top: 355px;
    left: 1120px;
    width: 250px;
    height: 250px;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    rotate: 70deg;
}
#pokemon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    pointer-events: none;
}
#pokemonB {
    position: absolute;
    top: 355px;
    left: 1120px;
    width: 250px;
    height: 250px;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    rotate: 70deg;
}
#pokemonT {
    position: relative;
    background-color: rgb(255, 202, 44);
    border-style: solid;
    border-color: rgb(96, 90, 82);
    border-width: 5px;
    border-radius: 5px;
    height: 140px;
    width: 200px;
    display: none;
    margin-left: 1120px;
    margin-top: -400px;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#camera {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    pointer-events: none;
}
#cameraB {
    position: absolute;
    top: 360px;
    left: 240px;
    width: 150px;
    height: 100px;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    rotate: -15deg;
    
}
#cameraT {
    position: relative;
    background-color: beige;
    border-style: solid;
    border-color: rgb(159, 101, 14);
    border-width: 5px;
    border-radius: 5px;
    height: 200px;
    width: 200px;
    display: none;
    margin-left: 250px;
    margin-top: -450px;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



